.menuItem {
    border-bottom: 1px solid #d0d1d2;
    text-align: left;
    cursor: pointer;
}

.menuItem > h4 {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-style: 15%;
    padding-left: 10px;
    cursor: pointer;
}